<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Higher Or Lower</title>
    <link rel="stylesheet" href="../static/game_template.css">
    <script src="https://kit.fontawesome.com/405102745f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>
    <div id="defaite_screen">
        <div id="defaite_popup">
            Vous avez perdu
        </div>
        
        <div id="replay_button">
            Rejouer
        </div>
        <div id="leave_button">
            Quitter
        </div>

    </div>

<div id="img_left">

    <h4 id="anime_title_left" class="anime_title">Yahari Ore Seishun Love Comedy Wa Machiggateiru</h4>
    <h6 id="anime_popularity_left">Score :</h6>

    <img src="../static/img/v3_5.png">

</div>



<div id="central_panel">

    <div id="home_button">
        <img src="../static/img/v3_9.png">
    </div>


    <div id="current_score_div">
        Current score :
        <p id="current_score">9</p>
    </div>




    <div id="best_score_div">
        Best score :
        <p id="best_score">9</p>
    </div>

</div>

<div id="img_right">
    <h4 id="anime_title_right" class="anime_title">Blue Lock


    </h4>
    <h6 id="anime_popularity_right">Score :</h6>



    <img src="../static/img/v3_7.png">


    <div id="choosing_module">

        <div id="click_module">
            <div id="higher">Higher</div>
            <div id="or">OR</div>
            <div id="lower">Lower</div>
        </div>
        <div id="question">rank on my anime list ?</div>

    </div>


</div>


     <script src="../static/game_script.js"></script> 
     


</body>
</html>
